<!DOCTYPE html>
<html lang="en">
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
  <head>
    <meta charset="UTF-8" />
  	<meta http-equiv="refresh" content="0;url={{ redirect_to }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{pageTitle}}</title>
    <meta
      name="description"
      content="{{pageDescription}}"
    />
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cfilter id='transformColor'%3E%3CfeColorMatrix type='matrix' values='1.06 0 0 0 0 0 2.625 0 0 0 0 0 5.636 0 0 0 0 0 1 0'/%3E%3C/filter%3E%3C/defs%3E%3Ctext x='0' y='14' filter='url(%23transformColor)'%3E🪢%3C/text%3E%3C/svg%3E" />
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet" />

    {% if meta.twitterUsername %}
    <meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
    {% endif %}
    <meta
      name="twitter:title"
      content="{{pageTitle}}"
    />
    <meta
      name="twitter:description"
      content="{{pageDescription}}"
    />

    <meta
      name="og:title"
      content="{{pageTitle}}"
    />
    <meta
      name="og:description"
      content="{{pageDescription}}"
    />

    <link rel="preload" href="/fonts/baloo-2-v1-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/baloo-2-v1-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap" rel="stylesheet">

    <script defer data-domain="axai.trx.li" src="https://plausible.trx.li/js/script.js"></script>
  </head>
  <body>
	<main class="tdbc-container">
		<p>Redirecting to <a href="{{ redirect_to }}">{{ redirect_to }}</a>...</p>
	</main>
  </body>
</html>