---
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 10rem;
    color: #171392;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 0vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }
</style>

<header class="tdbc-hero">
  <div class="tdbc-container">
    <div class="logo">
      <span style=" color: #df2b7c">A</span>XAI
    </div>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription.split("-")[1] }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  {% if collections.pages.length > 0 %}
  <div class="tdbc-section tdbc-mb-lg">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {% endif %}

<h2 id="outline" class="tdbc-h3">Outline</h2>

This page describes the <a href="https://iui.acm.org/2024/index.html">IUI 2024</a> Workshop on Adaptive eXplainable AI.
- **Venue**: Greenville, South Carolina, USA
- **Workshop Date**: March 18, 2024
- ~~**Submission Deadline**: January 16, 2024~~
- ~~**Notification**: February 9, 2024~~
- **Camera Ready**: February 23, 2024
- **Submission Website**: <a href="https://cmt3.research.microsoft.com/AXAI2024">Microsoft CMT</a>
- **Submission Templates**: <a href="https://drive.google.com/file/d/1F9Nllrmhu6gUuYDdl-svxqwd5AW5NmZY/view?usp=drive_link">CEUR-ART 1-column Template</a> (5-10 pages)

As the integration of Artificial Intelligence into daily decision-making processes intensifies, the need for clear communication between humans and AI systems becomes crucial. The Adaptive XAI (AXAI) workshop focuses on the design and development of intelligent interfaces that can adaptively explain AI's decision-making processes and our engagement with those processes.

In line with the human-centric principles of the <a href="https://future-ai-research.it/spoke1/">Future Artificial Intelligence Research (FAIR) project</a>, this workshop seeks to explore, understand and develop interfaces that dynamically adapt, thereby creating explanations of AI-based systems that both relate to and resonate with a range of users with different explanation-based requirements. As AI's role in our lives becomes ever more embedded, the ways in which such systems explain elements about the system need to be malleable and responsive to the ever-evolving individual's cognitive state, relating to contextual needs/focus and to the social setting.

For instance, easy to use and effective interaction modalities like Visual Languages can provide users with intuitive mechanisms to interact with, adjust, and reshape AI narratives. This ensures that a richer, more tailored understanding can be provided, allowing explanations to emerge in line with the users' demands and the ever-shifting contexts they find themselves in, both as individuals and as part of a group.

The Adaptive XAI workshop extends an invitation to scholars, designers, and technologists to collaboratively shape the future of human-XAI interplay.

<h2 id="topics" class="tdbc-h3">Topics and Themes</h2>

The topics include <u>but are not limited to</u>:

1. **Understanding AI Decisions**: Exploring methods and technologies for making AI decision-making processes transparent and comprehensible to users.
2. **Human-Centric AI Design**: Focusing on the design of AI systems that prioritize human needs, preferences, and cognitive abilities in the context of understanding AI behavior.
3. **Adaptive Explanation Interfaces**: Developing interfaces that can adapt their explanatory content to suit different user needs, learning styles, and situational contexts.
4. **Cognitive Needs and Situational Awareness**: Addressing how AI explanations can cater to the cognitive needs of users and enhance their situational awareness in various domains.
5. **Seamless AI-HCI Integration**: Discussing strategies for integrating AI capabilities with human-computer interaction in a way that is intuitive and beneficial for users.
6. **Diversity and Inclusivity in AI Explanations**: Considering how AI explanations can be made accessible and useful for a diverse range of users with varying backgrounds and abilities.
7. **Ethical Considerations in AI Explanations**: Delving into the ethical implications of AI explanations, including issues of transparency, accountability, and bias.
8. **Case Studies and Real-World Applications**: Presenting case studies or real-world examples where adaptive AI explanations have been effectively implemented.
9. **Future Directions in Adaptive XAI**: Exploring emerging trends, potential challenges, and future directions in the field of adaptive explainable AI.
10. **Cross-Disciplinary Perspectives**: Encouraging discussions that bring together insights from different disciplines, such as psychology, design, computer science, and ethics, to enrich the understanding of adaptive AI explanations.

<h2 id="contributing" class="tdbc-h3">Contributing Your Work</h2>

~~Submissions should be between 5 and 10 pages long, following the <a href="https://ceur-ws.org/HOWTOSUBMIT.html">CEUR-WS instructions</a> for single column papers.~~

~~The deadline for submissions is *January 16, 2024* <a href="https://time.is/Anywhere_on_Earth">AoE</a>.~~

~~Submission website: <a href="https://cmt3.research.microsoft.com/AXAI2024">Microsoft CMT</a>~~

Additionally, selected papers will be invited for submission in expanded form to a Special Issue in the Springer journal "Personal and Ubiquitous Computing" (PAUC). The topic of the special issue will be Hybrid Human-AI Systems. Further instructions regarding formatting and the review/publication process will be provided when the invitations are sent.

Please send any comments or questions to Tommaso Turchi, <a href="mailto:tommaso.turchi@unipi.it">tommaso.turchi@unipi.it</a>.

<h2 id="organisers" class="tdbc-h3">Organisers</h2>

<span class="tdbc-h4">Tommaso Turchi</span> is an Assistant Professor at the University of Pisa (Italy). His research focuses on Human-Centered AI and End-User Development. He has worked on various research projects related to the interaction with AI systems and is currently investigating the use of Design Fiction for AI-as-a-service applications in the medical field. His most recent work includes the development of a co-design toolkit to identify and address bias in ML-based collaborative decision-making domains.

<span class="tdbc-h4">Alessio Malizia</span> is an Associate Professor at the University of Pisa (Italy). His research focuses on Human-Centered AI and Design Fictions. He's involved in different National and International projects developing novel approaches for improving scientific methods to study Human-Artificial Intelligence Interaction.

<span class="tdbc-h4">Fabio Paternò</span> is Research Director at CNR-ISTI in Pisa (Italy). His research activity has mainly been carried out in the HCI field, with the goal to introduce computational support to improve usability, accessibility, and user experience for all in the various possible contexts of use by proposing relevant languages, models, design spaces, tools, and applications.

<span class="tdbc-h4">Simone Borsci</span> is an Associate Professor of Human Factors and Cognitive Ergonomics at the University of Twente (Netherlands). His research spans across Human factors and ergonomics, interaction with technology and artefacts, usability and accessibility studies, and user experience analysis in ubiquitous computing contexts.

<span class="tdbc-h4">Alan Chamberlain</span> is a Senior Research Fellow at the University of Nottingham (United Kingdom). His research is based on Human-Computer Interaction, Ethnography, Action Research, Participatory Design, and User Engagement in order to develop networks of people who are able to involve themselves in the practices of innovation and design.

<h2 id="committee" class="tdbc-h3">Program Committee</h2>

- **Alan Dix**, University of Swansea (United Kingdom)
- **Silvio Carta**, University of Greenwich (United Kingdom)
- **Riccardo Guidotti**, University of Pisa (Italy)
- **Matt Roach**, University of Swansea (United Kingdom)
- **Marlene Weber**, Harness Inc. (United States)
- **Federico Mazzoni**, University of Pisa (Italy)
- **Glenn McGarry**, University of Nottingham (United Kingdom)
- **Anna-Maria Piskopani**, University of Nottingham (United Kingdom)
- **Favour Borokini**, University of Nottingham (United Kingdom)

<h2 id="acknowledgements" class="tdbc-h3">Acknowledgements</h2>

We would like to acknowledge the support of the PNRR - M4C2 - Investimento 1.3, Partenariato Esteso PE00000013 - “FAIR - Future Artificial Intelligence Research” - Spoke 1 “Human-centered AI”, funded by the European Commission under the NextGeneration EU programme. This work was also supported by the Engineering and Physical Sciences Research Council [grant number EP/V00784X/1] UKRI Trustworthy Autonomous Systems Hub (The TAS RRI II project), [grant number EP/G065802/1] Horizon: Digital Economy Hub at the University of Nottingham (HoRRIzon III), and [grant number EP/Y009800/1] AI UK: Creating an International Ecosystem for Responsible AI Research and Innovation (RAI UK), (RAKE Responsible Innovation Advantage in Knowledge Exchange).

We acknowledge the involvement of the STAHR Collective.

<div class="footer-images">
    <img src="img/FAIR.png" alt="FAIR" class="footer-img">
    <img src="img/RAIUK.png" alt="RAI UK" class="footer-img">
    <img src="img/UKRITAS.png" alt="UKRI TAS" class="footer-img">
    <img src="img/HorizonDER.jpg" alt="Horizon DER" class="footer-img">
    <img src="img/STAHRC.png" alt="STAHRC" class="footer-img">
</div>

</main>

<script>
    function updateCountdown() {
        const daysLeft = Math.ceil((new Date("2024-01-16") - new Date()) / (1000 * 60 * 60 * 24));
        document.getElementById('daysLeft').innerText = daysLeft >= 0 ? daysLeft : 0;
    }

    {# updateCountdown(); #}
</script>