---
layout: base.njk
templateEngineOverride: md, njk
---

<style>
  .logo {
    font-family: 'Fascinate Inline', sans-serif;
    font-size: 10rem;
    color: #171392;
  }

  .tdbc-hero {
    padding-top: 5vh;
    padding-bottom: 0vh;
  }

  #quickstart + ol li:first-child,
  #quickstart + ol li:first-child p {
    font-size: 1.5rem;
  }
</style>

<header class="tdbc-hero">
  <div class="tdbc-container">
    <div class="logo">
      <span style=" color: #df2b7c">A</span>XAI
    </div>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription.split("-")[1] }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  {% if collections.pages.length > 0 %}
  <div class="tdbc-section tdbc-mb-lg">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {% endif %}

<h2 id="outline" class="tdbc-h3">Outline</h2>

This page describes the <a href="https://iui.acm.org/2025/index.html">IUI 2025</a> Workshop on Adaptive eXplainable AI. If you're looking for last year's workshop, please visit the <a href="/2024/">2024 edition</a>.

- **Venue**: Cagliari, Sardinia, Italy
- **Workshop Date**: TBD

As the integration of Artificial Intelligence into daily decision-making processes intensifies, the need for clear communication between humans and AI systems becomes crucial. The Adaptive XAI (AXAI) workshop focuses on the design and development of intelligent interfaces that can adaptively explain AI's decision-making processes and our engagement with those processes.

In line with the human-centric principles of the <a href="https://future-ai-research.it/spoke1/">Future Artificial Intelligence Research (FAIR) project</a>, this workshop seeks to explore, understand and develop interfaces that dynamically adapt, thereby creating explanations of AI-based systems that both relate to and resonate with a range of users with different explanation-based requirements. As AI's role in our lives becomes ever more embedded, the ways in which such systems explain elements about the system need to be malleable and responsive to the ever-evolving individual's cognitive state, relating to contextual needs/focus and to the social setting.

For instance, easy to use and effective interaction modalities like Visual Languages can provide users with intuitive mechanisms to interact with, adjust, and reshape AI narratives. This ensures that a richer, more tailored understanding can be provided, allowing explanations to emerge in line with the users' demands and the ever-shifting contexts they find themselves in, both as individuals and as part of a group.

The Adaptive XAI workshop extends an invitation to scholars, designers, and technologists to collaboratively shape the future of human-XAI interplay.

</main>

<script>
    function updateCountdown() {
        const daysLeft = Math.ceil((new Date("2024-01-16") - new Date()) / (1000 * 60 * 60 * 24));
        document.getElementById('daysLeft').innerText = daysLeft >= 0 ? daysLeft : 0;
    }

    {# updateCountdown(); #}
</script>